body{
    background-color: rgb(0, 119, 255);
    
}

#myName{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    color: crimson;
}

ul{
    border-radius: 10pt;
    font-weight: bold;
    color: blueviolet;

}